<%- include ("../partials/head") %>

<h1 class="list-group-item" >content ID:<%=content.id %></h1>
<h2 class="list-group-item">TITLE:<%=content.title %></h2>
<h3 class="list-group-item" >content:<%=content.content %></h3>

<a class="btn btn-success mb-4" href="/blog">BACK</a>
<%- include ("../partials/footer") %>
