<%- include('../partials/head') %>

<h1>Comment ID: <%= comment.id %></h1>
<h2>Username: <%= comment.username %></h2>
<h3>Comment: <%= comment.comment %></h3>

<a href="/comments">Back</a>

<%- include('../partials/footer') %>
