<%- include ("../partials/head") %>

<h1 class="list-group-item" >COMMENT ID:<%=comment.id %></h1>
<h2 class="list-group-item">USERNAME:<%=comment.username %></h2>
<h3 class="list-group-item" >COMMENT:<%=comment.comment %></h3>

<a class="btn btn-success mb-4" href="/comments">BACK</a>
<%- include ("../partials/footer") %>
